<!-- Describe task in general -->
<p style="text-align: justify;">
    Компанія розробляє новий електронний годинник для спортсменів високих досягнень. Однією з особливостей нового годинника є те, що він вимірюватиме поточну частоту серцевих скорочень (ударів за хвилину) та поточну здатність до насичення киснем. Годинник також розраховуватиме та зберігатиме частоту серцевих скорочень спортсмена у стані спокою.
</p>

<p style="text-align: justify;">
    Дизайнери хочуть, щоб годинник попереджав спортсмена про те, що він повинен робити:
</p>
<ul>
    <li>уповільнити темп тренування, якщо поточна частота серцевих скорочень більш ніж втричі перевищує частоту серцевих скорочень у стані спокою АБО поточна здатність до насичення киснем менша за 95</li>
    <li>збільшити темп тренування, якщо поточна частота серцевих скорочень менше, ніж удвічі перевищує частоту серцевих скорочень у стані спокою, а поточна оксигенаційна здатність більше 97;</li>
    <li>підтримуйте темп тренування, якщо жоден з вищезазначених станів не виникає.</li>
</ul>

<p style="text-align: justify;">
    За даними про частоту серцевих скорочень у стані спокою, поточну частоту серцевих скорочень і поточну оксигенацію, отриманими від годинника, напишіть програму, яка видає пропозицію, яку повинен видати годинник.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Три цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число (сповільнити - -1, збільшити - 1, зберегти - 0).
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

