<!-- Describe task in general -->
<p style="text-align: justify;">
    A company is developing a new electronic watch for high-performance athletes. One of the features of the new watch is that it will measure the athlete's current heart rate (beats per minute) and current oxygen saturation. The watch will also calculate and store the athlete's resting heart rate.
</p>

<p style="text-align: justify;">
    The designers want the watch to warn the athlete that he or she must:
</p>
<ul>
    <li>slow down the pace of exercise if the current heart rate is more than three times the resting heart rate OR the current oxygen saturation is less than 95;</li>
    <li>increase the pace of exercise if the current heart rate is less than twice the resting heart rate AND the current oxygen saturation is greater than 97;</li>
    <li>maintain the pace of exercise if none of the above conditions occur.</li>
</ul>

<p style="text-align: justify;">
    Given the resting heart rate, the current heart rate and the current oxygen saturation obtained by the watch, write a program that produces the suggestion that the Watch should emit.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Three integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Integer (slow down - -1, increase - 1, maintain - 0).
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

